.partfolio {
    background: #EFE6E4;
    position: relative;
    z-index: 100;
    // .partfolio__container--wide

    &__container--wide {
    }

    // .partfolio__wrapper

    &__wrapper {
        
    }

    // .partfolio__title

    &__title {
        padding: 65px 0px 40px 0px;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        color: #533738;
    }

    // .partfolio__grid

    &__grid {
    }

    // .partfolio__more

    &__more {
        padding: 40px 0px 65px 0px;
        text-align: center;
        background: url('../img/partfolio/Arrow.svg') 65% 41% no-repeat;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }

    // .partfolio__more-text

    &__more-text {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #533738;
    }
}


.grid-partfolio1 {
    display: grid;
    grid-template-columns: repeat(12, 82px);
    column-gap: 20px;
    row-gap: 30px;

    // .grid-partfolio1__block1

    &__block1 {
        grid-column-start: span 5;
    }


    // .grid-partfolio1__block2

    &__block2 {
        grid-column-start: span 7;
    }

    // .grid-partfolio1__block3

    &__block3 {
        grid-column-start: span 7;
    }

    // .grid-partfolio1__block4

    &__block4 {
        grid-column-start: span 5;
    }
}

.prompt {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:hover .prompt__text {
        opacity: 1;
    }
    &:hover .prompt__title {
        left: 0;
    }
    &:hover .prompt__subtitle {
        left: 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(100, 72, 69, 0.8);
        opacity: 0;
        transition: opacity .2s ease;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
        max-width: 64%;
        position: relative;
        left: 100%;
        transition: left .9s ease;
        transition-delay: .3s;
    }

    &__subtitle {
        position: relative;
        font-size: 18px;
        line-height: 1.67;
        color: #FFFFFF;
        left: -100%;
        max-width: 85%;
        transition: left .9s ease;
        transition-delay: .7s;
    }
}
